/*Fish*/
.fish_rotate {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.grow {
  animation-name: grow;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.bounce {
  animation-name: bounce;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

/*Flying fish*/
.flying {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0%;
  right: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  animation-name: flying-fish;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
}

/*Cat*/
.catanim {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 13.4%;
  left: 65%;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  transform: scaleX(-1);
  z-index: 1;
}

.catA,
.catB {
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
}

.catA {
  background-image: url("images/catA.png");
}
.catB {
  background-image: url("images/catB.png");
}

/*Fisher Cat*/
.fisheranim {
  position: absolute;
  width: 130px;
  height: 200px;
  top: 19%;
  left: 19%;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.fisherA,
.fisherB {
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
}

.fisherA {
  background-image: url("images/fisherA.png");
}

.fisherB {
  background-image: url("images/fisherB.png");
}

/*Cat Boat*/
.boat {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 10%;
  z-index: 10;
}

.netanim {
  width: 100%;
  height: 100%;
  transform-origin: center center;
  animation-name: boatflip;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.netA,
.netB {
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
}

.netA {
  background-image: url("images/netA.png");
}

.netB {
  background-image: url("images/netB.png");
}

.flipboat {
  visibility: hidden;
  width: 100%;
  height: 100%;
  animation-name: boat;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*Tests swimmer*/
.swimmeranim {
  position: absolute;
  width: 160px;
  height: 200px;
  top: 65%;
  left: 75%;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  z-index: 1;

  animation-name: swimmer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.swimmerA,
.swimmerB {
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
}

.swimmerA {
  background-image: url("images/swimmerA.png");
}
.swimmerB {
  background-image: url("images/swimmerB.png");
}


/* animations */
@keyframes rotate {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1);
  }
  5% {
    transform: scale(0.9, 0.9);
  }
  10% {
    transform: scale(0.8, 0.8);
  }
  15% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  75% {
    transform: scale(0.95, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes grow {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(1.15, 1.15);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  70% {
    transform: scale(1, 1);
  }
  80% {
    transform: scale(0.95, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes flying-fish {
  0% {
    transform: translateX(1000%);
  }
  100% {
    transform: translateX(-800%);
  }
}

@keyframes boat {
  0% {
    transform: translateX(200%);
  }
  50% {
    transform: translateX(-300%);
  }
  50.01% {
    transform: translateX(-300%);
  }
  99.9% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes boatflip {
  49.9% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  99.9% {
    transform: scaleX(-1);
  }
}

/*Tests swimmer*/
@keyframes swimmer {
  0% {
    transform: translateY(5%);
  }
  49.9% {
    transform: translateY(-40%);
  }
  50% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(5%);
  }
}