* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  margin: 0;

  font-family: Courier, Arial;
}

body {
  height: 100%;
  margin: 0;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@font-face {
  font-family: "Another Danger";
  src: url("Another Danger - Demo.otf");
}

.title {
  text-align: center;
  background-color: #10121b;
  color: white;
  font-family: "Another Danger", Arial;
}

.title span {
  font-family: "Comic Sans MS", Arial;
}

.clicker {
  height: 100%;
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
}

.anim {
  background-color: #c5fffd;
}

.game {
  background-color: #5386e4;
}

.right {
  display: flex;
  flex-direction: column;
}

.stats {
  background-color: #858ae3;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.stats > h1 {
  margin: 0;
  text-align: left;
  padding-left: 5%;
}

.store {
  background-color: #6050dc;
  overflow-y: auto;
}

/*Fiche d'un minou*/
.store > section {
  margin: 2%;
  color: #10121b;
  background-color: #94c2c2;
  height: 25%;
  transition: box-shadow 0.2s;
}

.store > section:hover {
  box-shadow: inset 0px 0px 0px 4px white;
  cursor: pointer;
}

.store > section > div {
  display: flex;
  height: 100%;
  width: 100%;
}

.minou_info {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.minou_info * {
  height: 100%;
}

.minou_fps,
.minou_price_qty {
  display: flex;
}

.flexone {
  flex: 1;
}

.flextwo {
  flex: 2;
}
