* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: clip;
  font-family: Courier, Arial;
}

body {
  height: 100%;
  margin: 0;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@font-face {
  font-family: "Another Danger";
  src: url("Another Danger - Demo.otf");
}

.title {
  text-align: center;
  background-color: #10121b;
  color: white;
  font-family: "Another Danger", Arial;
}

.title span {
  font-family: "Comic Sans MS", Arial;
}

.clicker {
  height: 100%;
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
}

.anim {
  background-color: #c5fffd;
}

/*game display*/
.game {
  background-color: #5386e4;
  overflow: hidden;
  position: relative;
}

.fish {
  height: 320px;
  width: 300px;
  position: absolute;
  transform-origin: center;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.fish * {
  height: 100%;
  width: 100%;
}

.fish_rotate {
  background-image: url("images/fish.png");
  background-size: cover;
  background-position: center;
  background-clip: content-box;
}
/*end of game display*/

.right {
  display: flex;
  flex-direction: column;
}

.stats {
  background-color: #858ae3;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
}

.stats > h1 {
  margin: 0;
  text-align: left;
  padding-left: 5%;
}

.store {
  background-color: #6050dc;
  overflow-y: auto;
}

/*Fiche d'un minou*/
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  background-color: #e6de7c;
  margin: 1.5%;
  height: 25%;
  transition: box-shadow 0.1s;
}

.card:hover {
  box-shadow: inset 0px 0px 0px 4px black;
  cursor: pointer;
}

.picture {
  background-size: cover;
  background-position: center;
  height: 100%;
  z-index: 1000;
}

.picture img {
  max-width: 100%;
  max-height: 100%;
}

.flexone {
  flex: 1;
}

.flextwo {
  flex: 2;
}
