.main_wrapper
{
    display: flex;
    justify-content: space-around;
}

.main_wrapper div
{
    width: 30%;
}

.main_wrapper div img
{
    width: 100%;
}

/*Transition dans la rotation du poisson*/
.fish img
{
    transition: all ease-in-out 1s;
}