.main_wrapper {
  display: flex;
  justify-content: space-around;
}

.fish,
.cathand {
  width: 30%;
}

.main_wrapper div img {
  width: 100%;
}

.fish_img {
  width: 100%;
  height: 100%;
}

/*Transition dans la rotation du poisson*/
.fish img {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.fish,
.fish_img {
  border-radius: 400px;
}

.grow {
  animation-name: grow;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.bounce {
  animation-name: bounce;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1);
  }
  5% {
    transform: scale(0.9, 0.9);
  }
  10% {
    transform: scale(0.8, 0.8);
  }
  15% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  75% {
    transform: scale(0.95, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes grow {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(1.15, 1.15);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  70% {
    transform: scale(1, 1);
  }
  80% {
    transform: scale(0.95, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}
